.mat-toolbar {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header img {
  height: 2.5rem; /* Adjust as needed */
  width: 2.5rem; /* Adjust as needed */
  border-radius: 9999px; /* Ensures the image is round */
}

.spacer {
  flex: 5 5 auto;
}

.list {
  display: flex;
  align-items: center;
}

.list a,
.list button {
  font-size: 1rem; /* Adjust font size as needed */
  color: white;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.list a:hover,
.list button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.list u {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
