<div class="container">
  <div class="box-container" fxLayout="row" fxLayoutGap="15px">
      <mat-card class="box">
          <img mat-card-image [src]="productDetails?.image" alt="">
          <mat-card-content class="box2">
              <h2>Name: {{ productDetails?.title }}</h2>
              <h2>Price: &#x20B9; {{ productDetails?.price }}</h2>
              <p><b>Description:</b> {{ productDetails?.desc }}</p>
              <div class="quantity-group" *ngIf="!removeCartLink">
                  <button mat-icon-button (click)="handleQuantity('min')">
                      <mat-icon>remove</mat-icon>
                  </button>
                  <input matInput type="text" value="{{ productQuantity }}" readonly>
                  <button mat-icon-button (click)="handleQuantity('plus')">
                      <mat-icon>add</mat-icon>
                  </button>
              </div>
              <div class="buttonGroup">
                  <button mat-raised-button  style=" background: linear-gradient(to right, #bb86fc, #3700b3);" (click)="addToCart()" *ngIf="!removeCartLink">Add To Cart</button>
                  <button mat-raised-button color="accent" (click)="removeFromCart()" *ngIf="removeCartLink">Remove From Cart</button>
              </div>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
      </mat-card>
  </div>
</div>
